:root {
    /* colores */
    --fondo-oscuro: #0a0a0a;
    --fondo-tarjeta: #111111;
    --color-texto: #ffffff;
    --borde: #222222;

    /*Tipografia*/
    --fuente-principal: 'Segoe UI', Arial, sans-serif;

}

body {
    font-family: var(--fuente-principal);
    margin: 0;
    background-color: var(--fondo-oscuro);
    color: #e5e5e5;
}

h1, h2, h3 {
    text-align: center;
    color: var(--color-texto);
}

h2 {
    border-bottom: 0.1rem solid #333;
    padding-bottom: 0.3rem;
}

p {
    text-align: center;
}

ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
}

a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}