/* Variables globales, fuentes y reseteo de estilos basicos */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.3rem 0 1.3rem 0;
    border-bottom: 0.1rem solid var(--borde);
    margin-bottom: 1.3rem;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 0;
    width: 100%;

}

header a{
    width: 8rem;
    text-align: center;
    display: block;
}

.container-header {
    width: 100%;
    max-width: 56.25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1.3rem;
}

.info-header img {
    width: 8rem;
    height: 8rem;
    border-radius: 60%;
    border: 3px solid var(--borde);
    margin-bottom: 10px;
    object-fit: cover;
}

.info-header p {
    margin-top: 0;
    color: #aaa;
    font-size: 1.1em;
}

header p {
    color: #aaa;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1.9rem;
    width: 100%;
    margin-bottom: 0.7rem;
}

nav a {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #888;
}

nav a:hover {
    color: var(--color-texto);
}

section {
    max-width: 56.25rem;
    margin: 1.9rem auto;
    padding: 2.4rem;
    background-color: var(--fondo-tarjeta);
    border-radius: 0.8rem; 
    border: 0.1rem solid var(--borde);
    justify-content: center;
    
}

@media (max-width: 768px){
    section {
        max-width: 600px;
    }

}

@media (max-width: 425px) {
    .container-header {
        padding: 0px;
    }

}