/* Sección Habilidades */
.habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.habilidades {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem; 
    margin-top: 1.3rem;
}

.habilidad {
    width: 12rem;
    overflow: hidden;
}

.habilidad img {
    height: auto    ; 
    max-width: 100%;
    object-fit: contain;
}

.habilidad img:hover {
    transform: scale(1.1);
}

/* Sección Proyectos */
.proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 0.9rem;
    justify-items: center;
    justify-content: center;
}

.proyecto {
    background-color: var(--fondo-tarjeta);
    padding: 1.2rem;
    border-radius: 0.7rem;
    width: 90%;
    height: 90%;
    border: 0.1rem solid var(--borde);;
    justify-content: space-between;
    text-align: center;
}

.proyecto a {
    display: inline-block;
    margin-top: 0.7rem;
    padding: 0.4rem 0.7rem;
    background-color: var(--borde);
    border-radius: 0.2rem;
}

.proyecto a:hover {
    color: #80c1ff;
    text-decoration: underline;
}


.contenedor-seccion {
    max-width: 56.25rem;
    margin: 1.9rem auto;
    padding: 2.3rem;
    background-color: var(--fondo-tarjeta);
    border-radius: 0.7rem;
    border: 0.1rem solid var(--borde);
}

@media (max-width: 768px) {
    .proyectos {
        grid-template-columns: repeat(2, minmax(19.75rem, 1fr));
    }
    
}

@media (max-width: 425px) {
    .proyectos {
        grid-template-columns: repeat(1, minmax(19.75rem, 1fr));
    }
    
}
