/* Sección Habilidades */
.habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.habilidades {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px; 
    margin-top: 20px;
}

.habilidad {
    width: 120px;
    overflow: hidden;
}

.habilidad img {
    height: auto    ; 
    max-width: 100%;
    object-fit: contain;
}

.habilidad img:hover {
    transform: scale(1.1);
}

/* Sección Proyectos */
.proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
    justify-content: center;
}

.proyecto {
    background-color: var(--fondo-tarjeta);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    border: 1px solid var(--borde);;
    justify-content: space-between;
    text-align: center;
}

.proyecto a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: var(--borde);
    border-radius: 5px;
}

.proyecto a:hover {
    color: #80c1ff;
    text-decoration: underline;
}


.contenedor-seccion {
    max-width: 900px;
    margin: 30px auto;
    padding: 40px;
    background-color: var(--fondo-tarjeta);
    border-radius: 12px;
    border: 1px solid var(--borde);
}


