
/* El contenedor principal */
.modal {
    background-color: var(--fondo-tarjeta);
    color: var(--color-texto);
    border: 0.1rem solid var(--borde);
    border-radius: 1.25rem;      
    padding: 2.5rem;              
    width: 90%;                 
    max-width: 35rem;        
    text-align: center;
    box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.8);
    animation: aparecer 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    animation-fill-mode: forwards;
}

/* El fondo difuminado (Overlay) */
.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.4rem);  
}

/* Título dentro del modal */
#modalTitulo {
    margin-top: 0;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid #333;
    padding-bottom: 0.8rem;
}

/* Cuerpo del modal (donde va la info extra) */
#modalCuerpo {
    margin-top: 1.5rem;
    line-height: 1.8;
    color: #cccccc;
    padding: 0 1rem;
}

#modalCuerpo p {
    margin-bottom: 1.2rem; /* Separa un poco más los párrafos */
}

#modalCuerpo strong {
    color: var(--color-texto); /* Asegura que las negritas resalten */
    display: inline-block;
    margin-bottom: 0.3rem;
}

/* Botón de cerrar (la X) */
.btn-cerrar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #222;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cerrar:hover {
    background-color: #444;
    color: #ffffff;
    transform: rotate(90deg);
}

/* Animación de entrada */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


/* texto dentro del modal */

.detalles-contenido {
    text-align: left;
    line-height: 1.5;
}

.detalles-contenido p {
    margin-bottom: 10px;
}

@media (max-width: 425px) {
    .modal {
        padding: 0.6rem;
    }

    #modalCuerpo {
        padding: 0 0.5rem;
    }

    .btn-cerrar {
        width: 2rem;
        height: 2rem;
        font-size: 1.2rem;
        top: 0.2rem;
    }

    .detalles-contenido {
        font-size: 0.9rem;
    }

    #modalTitulo {
        font-size: 1.6rem;
    }

}